.logo {
    max-width:220px;
    margin:10px;
}

header {
    background-color: #fff;
    margin-bottom: 40px;

}
body {
    background-color: #edebeb;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width:60%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.contenuto {
    margin-left: 50px;
}
.button1 {
    background-color: #0c9ae1;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 12px;

}

.button2 {
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 12px;
    
}
.titolo-lista {
    display: inline-block;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    

}
li {
    margin-bottom: 20px;

}
.inline {
    display:inline;
}


.yes {
    color:#5ed1a7;
}
.no {
    color:red;
}

.editorial {
    background-color: #0c9ae1;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}
.goals {
    background-color: #9d0ce1;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}

.recruiting {
    background-color: #0ce1bd;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}

.mobile {
    background-color: #e18c0c;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}

.website {
    background-color: #c23794;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}
.sales {
    background-color: #1ee10c;
    padding: 3px 15px;
    border-radius: 15px;
    font-size: 10px;
    color: #fff;
}
